.position{
    position: sticky;
    top: 0;
    z-index: 99999;
    background-color: white;
    color: white;
    width: 100%;
    height: fit-content;
}
.nav-bar-search{
    display: flex;
    justify-content: center;
}
.cartlength h6{
    color: rgb(236, 132, 12);
}

.cartlength{
    outline: none;
    border: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  
}
.navbar-brand{
    display: flex;
    align-items: center;
    height: 40px;
    font-family: "Agbalumo", serif;
    font-weight: 400;
    font-style: normal;
}
.cart-sm{
    display: none;
}
.image-source{
    margin-bottom: 10px;
    margin-right: -15px;
    margin-left: -5px;
}
.div-cart .cart-list {
    position: relative;
    border: none;
}
.nav-large .cart-list{
    position: relative;
    border: none;
}
.nav-serach-cont{
    width: 500px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: aquamarine;
}
.svg-sec {
    z-index: 999999;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translate(-50%, -50%);
}
.nav-serach-cont input{
    padding-left: 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    transform: translate(-50%, -50%)
    
}
.login-link{
    margin-right: 15px;
}
.nav-cont{
    position: relative;
}
.for-mobile{
    display: none;
}
.nav-cont{
    padding-left: 25px;
    padding-right: 25px;
}
.navbar{
    height: 60px;
    background-color: #213555;
   
}
.navbar-toggler {
    border: none;
    color: white;

}
.offcanvas{
    background-color: #213555;
    color: white;
}
.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 black;
}
.nav-small{
    display: none;
}
.Link-styling{
    color: white;
    text-decoration: none;
}
.Link-styling:hover{
    color: rgba(255, 255, 255, 0.705);
    text-decoration: none;
}
.navbar-toggler {
    padding-right:15px;
    padding-left: 0;
    
}
.nav-bar-search-sm{
    display: none;
}



@media (max-width:991px) {
   
   
    .modile-search{        
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.075);
    }

    .nav-bar-search-sm{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        background-color: #9acecfce;
    }
   .search-svg{
        position: absolute;
        color: black;
        left: 23px;
        top: 50%;
        transform: translate(-50%,-50%);
   }
   .search-container{
        width: 100%;
        position: relative;
   }

    .nav-bar-search-sm input{
        padding-left: 40px;
        font-size: 16px;
        height: 3rem;
    }
    .cart-sm{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .div-cart{
        display: flex;
        align-items: center;
    }
    .nav-small{
        display: block;
    }
    .nav-large{
        display: none;
    }
    .modile-search input{
        width: 70%;
        height: 40px;
    }
    .nav-bar-search{
        display: none;
    }
    .navbar{
        height: 65px;
    }
    .product-cont{
        height: 35dvh;
        padding-left: 5px;
        padding-right: 5px;
        width: 100%;
        border-radius: 25px;
        overflow: hidden;      
    }
}
@media (max-width:650px) {
    .modile-search{
        display: flex;
    }
    .list-group{
        margin: 0;
    }
    .modile-search input{
        width: 100%;
    }
    .nav-bar-search{
        display: none;
    }
    .product-cont{
        height: 25dvh;
        padding-left: 5px;
        padding-right: 5px;
        width: 100%;
        border-radius: 25px;
        overflow: hidden;      
    }
}




.navbar-collapse {
    width: fit-content;
    flex-basis: 0; 
    flex-grow: 0; 
    align-items: center;
}
.list-group {
    position: absolute;
    width:100%; 
    background-color: white;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    margin-top: 18px;
}
.list-group{
    height: fit-content;
    max-height: 300px;
    overflow-y: scroll;
}
.list-group::-webkit-scrollbar{
    width: 1px;

}
.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #86b6fe00;
    outline: 0;
    box-shadow: 0 0 0 0rem rgb(255, 255, 255);
}
.list-group-item {
padding: 0.5rem 1rem;
cursor: pointer;
background-color: var(--search_result-bg) !important;
}

.list-group-item:hover {
background-color: #f8f9fa;
}


.no-results-message {
margin-top: 0.5rem;
color: #dc3545; 
display: flex;
justify-content: center;
}
.search-result-link {
text-decoration: none;
color: inherit;
}

.search-result-link:hover {
text-decoration: underline;
} 
  